@page "/invoices"
@inject IInvoiceService InvoiceService
@inject IToastService ToastService
@inject IPrintingService PrintingService
@inject IJSRuntime JS
@inject NavigationManager NavigationManager

@attribute [Authorize]

<h3>Betalningar</h3>

<div style="margin: 20px;">
    <NavLink href="@($"invoice/create")" class="btn btn-primary"> Skapa faktura </NavLink>
    <span style="margin-right: 100px;"></span>
    <button class="btn btn-primary" @onclick="@(() => Generate())"> Generera alla fakturor </button>
</div>
<div class="d-flex justify-content-between">
    <p>Filtrera: </p>
    <select class="form-control" @onchange="FilterChanged">
        <option value="Alla">Alla </option>
        <option value="Öppen">Öppna </option>
        <option value="Utskriven">Utskrivna </option>
        <option value="Betald">Betalda </option>
        <option value="Arkiv">Arkiverade </option>
    </select>
</div>
<br />
@if (Loading)
{
    <span>@LoadingText</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Datum</th>
                <th>Förfaller</th>
                <th>Hyresgäst</th>
                <th>Skriv ut</th>
                <th>Status</th>
                <th>Betald</th>
                <th>Ändra</th>
                <th>Radera</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in InvoicesList)
            {
                <tr>
                    <td>@entry.InvoiceNo</td>
                    <td>@entry.InvoiceDate.ToString("yyyy-MM-dd")</td>
                    <td>@entry.PaymentDate.ToString("yyyy-MM-dd")</td>
                    <td>@entry.Tenant.FirstName @entry.Tenant.LastName</td>
                    <td><button class="btn btn-primary" @onclick="@(() => Print(entry))">Skriv ut</button></td>
                    <td>@entry.Status</td>
                    @if (!entry.Paid)
                    {
                        <td><button class="btn btn-info" @onclick="@(() => ShowModalView("Paid", entry))">Markera som betald</button></td>
                    }
                    else
                    {
                        <td>Betald @entry.MarkedAsPaid.ToString("yyyy-MM-dd")</td>
                    }
                    @if (!entry.Paid)
                    {
                        <td><NavLink href="@($"invoice/edit/{entry.Id}")" class="btn btn-dark">Ändra</NavLink></td>

                    }
                    else
                    {
                        <td><button class="btn btn-outline-dark" @onclick="@(() => Archive(entry))">Arkivera</button></td>
                    }
                    <td><button class="btn btn-danger" @onclick="@(() => ShowModalView("Delete", entry))">Radera</button></td>
                </tr>
            }
        </tbody>
    </table>

    @if (ShowModal)
    {
        <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleLabel">@Title</h5>
                        <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (ShowDate)
                        {
                            <EditForm Model="selectedInvoice" OnValidSubmit="HandleSubmit">
                                <div class="form-group">
                                    <label for="markedAsPaid">Betalt datum: </label>
                                    <InputDate id="markedAsPaid" @bind-Value="selectedInvoice.MarkedAsPaid" class="form-control"></InputDate>
                                </div>
                                <button type="submit" class="btn btn-success">Markera som betald</button>
                            </EditForm>
                        }
                        else
                        {
                            <p>Är du säker på att du vill radera? Fakturan kommer försvinna helt!</p>
                        }
                    </div>
                    <div class="modal-footer">
                        @if (!ShowDate)
                        {
                            <button type="button" class="btn btn-danger" @onclick="@(() => Delete(selectedInvoice))">@Title</button>
                        }
                        <button type="button" class="btn btn-secondary" @onclick="@Close">Avbryt</button>
                    </div>
                </div>
            </div>
        </div>

    }
    @if (GenerateModal)
    {
        <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleLabel">Skapa fakturor</h5>
                        <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <EditForm Model="generateInvoice" OnValidSubmit="GenerateInvoices">
                            <div class="form-group">
                                <label for="invoiceDate">Fakturadatum: </label>
                                <InputDate id="invoiceDate" @bind-Value="generateInvoice.InvoiceDate" class="form-control"></InputDate>
                            </div>
                            
                            <div class="form-group">
                                <label for="paymentDate">Betalningsdag: </label>
                                <InputDate id="paymentDate" @bind-Value="generateInvoice.PaymentDate" class="form-control"></InputDate>
                            </div>
                            <button type="submit" class="btn btn-success">Skapa fakturor</button>
                        </EditForm>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="@Close">Avbryt</button>
                    </div>
                </div>
            </div>
        </div>
    }

}

@code {
    string Title { get; set; } = "";
    bool Loading { get; set; } = true;
    string LoadingText { get; set; } = "Hämtar fakturor...";
    bool ShowModal { get; set; } = false;
    bool GenerateModal { get; set; } = false;
    Invoice generateInvoice { get; set; } = new Invoice();
    bool ShowDate { get; set; } = false;
    List<Invoice> InvoicesList { get; set; }
    Invoice selectedInvoice { get; set; }
    string filter { get; set; } = "Alla";

    protected override async Task OnInitializedAsync()
    {
        /*
        InvoicesList = await InvoiceService.GetInvoices();
        Loading = false;*/
        FilterBy();
    }

    protected void FilterChanged(ChangeEventArgs e)
    {
        filter = e.Value.ToString();
        FilterBy();
    }

    protected async void FilterBy()
    {
        Loading = true;
        LoadingText = "Hämtar fakturor med status " + filter + "...";
        InvoicesList = await InvoiceService.GetInvoicesWithParameter(filter);
        Loading = false;
        this.StateHasChanged();
    }

    private void Close()
    {
        ShowModal = false;
        GenerateModal = false;
    }

    private void ShowModalView(string type, Invoice invoice)
    {
        selectedInvoice = invoice;
        ShowModal = true;
        if (type == "Delete")
        {
            Title = "Radera";
            ShowDate = false;
        }
        else
        {
            Title = "Markera som betald";
            selectedInvoice.MarkedAsPaid = DateTime.Now;
            ShowDate = true;
        }
    }

    private async void Delete(Invoice invoice)
    {
        if (!invoice.Paid)
        {
            await InvoiceService.DeleteInvoice(invoice.Id);
            await InvoiceService.GetInvoices();
            Close();
            FilterBy();
        }
    }

    protected async Task Print(Invoice invoice)
    {
        if (!invoice.Printed && !invoice.Paid)
        {
            invoice.Printed = true;
            invoice.Status = "Utskriven";
            await InvoiceService.EditInvoice(invoice);
        }

        await JS.InvokeAsync<object>("open", "/printinvoice/" + invoice.Id.ToString(), "_blank");
    }

    private void HandleSubmit()
    {
        Paid(selectedInvoice);
    }

    private async void Paid(Invoice invoice)
    {
        invoice.Paid = true;
        invoice.Status = "Betald";
        await InvoiceService.EditInvoice(invoice);
        Close();
        FilterBy();
    }

    private void Generate()
    {
        var day = DateTime.DaysInMonth(generateInvoice.InvoiceDate.Year, generateInvoice.InvoiceDate.Month);
        generateInvoice.PaymentDate = new DateTime(generateInvoice.InvoiceDate.Year, generateInvoice.InvoiceDate.Month, day);
        GenerateModal = true;
    }

    private async void GenerateInvoices()
    {
        var result = await InvoiceService.GenerateAllInvoices(generateInvoice);
        //ToastService.ShowSuccess(result.Data.ToString() + " fakturor skapade.", "Fakturor för " + DateTime.Now.ToString("MMMM"));
        Close();
        FilterBy();
    }

    private async void Archive(Invoice invoice)
    {
        invoice.Archieved = true;
        await InvoiceService.EditInvoice(invoice);
        //ToastService.ShowSuccess(invoice.InvoiceNo + " har arkiverats.", "Faktura arkiverad");

        FilterBy();
    }
}
