@page "/tenants"
@inject ITenantService TenantService
@inject IToastService ToastService
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>Hyresgäster</h3>

<div style="margin: 20px;">
    <NavLink href="@($"tenant/create")" class="btn btn-primary"> Lägg till hyresgäst </NavLink>
</div>



@if (TenantService.Tenants == null)
{
    <span>Hämtar hyresgäster..</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Epost</th>
                <th>Lägenhet</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in TenantService.Tenants)
            {
            <tr>
                <td>@entry.FirstName</td>
                <td>@entry.LastName</td>
                <td>@entry.Email</td>
                @if (!string.IsNullOrEmpty(entry.ApartmentId.ToString()))
                {
                    <td>Ja</td>
 }
                else
                {
                    <td>Nej</td>
}
                <td><NavLink href="@($"tenant/edit/{entry.Id}")" class="btn btn-dark">Ändra</NavLink></td>
                <td><button class="btn btn-danger" @onclick="@(() => ShowModalView(entry))">Radera</button></td>
            </tr>
            }
        </tbody>
    </table>

    @if (ShowModal)
    {
        <div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titleLabel">Radera</h5>
                        <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Är du säker på att du vill radera? Hyresgästen kommer försvinna helt!</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" @onclick="@(() => Delete(Selected.Id))">Radera</button>
                        <button type="button" class="btn btn-secondary" @onclick="@Close">Avbryt</button>
                    </div>
                </div>
            </div>
        </div>
    }
}

@code {

    bool ShowModal { get; set; } = false;
    Tenant Selected { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await TenantService.GetTenants();
    }

    private void Close()
    {
        ShowModal = false;
    }

    private void ShowModalView(Tenant tenant)
    {
        Selected = tenant;
        ShowModal = true;
    }

    private async void Delete(int id)
    {
        await TenantService.DeleteTenant(id);
        Close();
        UpdateView();
    }

    private async void UpdateView()
    {
        await TenantService.GetTenants();
        this.StateHasChanged();
    }
}
