@page "/tenants"
@inject ITenantService TenantService
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h3>Hyresgäster</h3>

<div style="margin: 20px;">
    <NavLink href="@($"tenant/create")" class="btn btn-primary"> Lägg till hyresgäst </NavLink>
</div>

@if (TenantService.Tenants == null)
{
    <span>Laddar in hyresgäster..</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Förnamn</th>
                <th>Efternamn</th>
                <th>Epost</th>
                <th>Lägenhet</th>
                <th>AnvändarId</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in TenantService.Tenants)
            {
                <tr>
                    <td>@entry.FirstName</td>
                    <td>@entry.LastName</td>
                    <td>@entry.Email</td>
                    <td>@entry.ApartmentId</td>
                    <td>@entry.AppUserId</td>
                    <td><button class="btn btn-danger" @onclick="@(() => Delete(entry.Id))"> - </button></td>
                    <td><NavLink href="@($"tenant/edit/{entry.Id}")" class="btn btn-warning"> * </NavLink></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {

    protected override async Task OnInitializedAsync()
    {
        await TenantService.GetTenants();
    }

    private async void Delete(int id)
    {
        await TenantService.DeleteTenant(id);
        NavigationManager.NavigateTo("/");
    }
}
