<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleLabel">@Title</h5>
                <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Är du säker på att du vill radera? Fakturan kommer försvinna helt!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @onclick="@(() => Delete(1))">@Title</button>
                <button type="button" class="btn btn-secondary" @onclick="@Close">Avbryt</button>
            </div>
        </div>
    </div>
</div>

@code {
    string Title { get; set; } = "Radera";
    bool ShowModal { get; set; } = false;

    private void Close()
    {
        ShowModal = false;
    }

    private void Delete(int id)
    {
        //if (!invoice.Paid)
        //{
            //await InvoiceService.DeleteInvoice(invoice.Id);
            //await InvoiceService.GetInvoices();
            Close();
        //}
    }
}